.courses {
    padding: 0 200px 0 140px;

}
.courses-title {
    margin: 35px 0 30px 0;
    font-weight: 700;
    font-size: 32px;
}

.course-card {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 0 55px 55px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    border-radius: 4px;
    margin: 0 0 50px 0;
}

.course-card .course-contacts {
    padding: 55px 30px;
    border-left: 1px solid #CFCFCF;
}

.course-card .course-info,
.course-card .course-contacts__text p b {
    font-size: 20px;
}

.course-card .course-contacts__text p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-card .course-info__text {
    margin: 0;
}

.description-button {
    display: flex;
    justify-content: end;
}
