.courses-page {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-left: 7px solid #333E48;
    margin: 30px 0 0 0;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 70% 1fr; 
    gap: 40px;
    border-radius: 6px;
}

.course-info {
    display: flex; 
    flex-direction: column;
}

.course-info .course-title {
    font-size: 20px;
    line-height: 32px;
    margin: 10px 0 0 0;
}

.course-info .course-text {
    padding: 0 0 20px 0;
}

.course-details {
    padding: 60px 0 20px 0;
}

.course-details p {
    margin: 0;
}

.course-details .course-details__texts {
    padding: 0 0 20px 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
