.container-input {
    width: 564px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #CFCFCF;
    color: #CFCFCF;
    padding-left: 15px;
    font-size: 16px;
}

.inputError {
    border: 1px solid red;
}

.error {
    color: red;
    font-weight: 400;
}
