.header {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}

.header-menu {
    margin: 0;
    list-style: none;
}
