.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; 
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.registration-form h2 {
    font-size: 32px;
}

.registration-form label {
    display: inline-block;
    margin: 10px 0 0 0;
    font-weight: 700;
}

.registration-form__info {
    padding: 50px 90px 30px;
    background-color: #FFFFFF;
    border: #CFCFCF 1px solid;
    border-radius: 4px;
}

.registration-form__info input[type="text"],
.registration-form__info input[type="email"],
.registration-form__info input[type="password"] {
    width: 286px;
}

.registration-form__info-button {
    padding: 25px 0;
    text-align: center;
}

.registration-form__info-button button {
    width: 307px;
}

.registration-form__info-button p {
    padding: 10px 0 0 0;
}

.registration-form__info-button p a {
    text-decoration: none;
    color: black;
}

.registration-form__info-button p a:hover {
    text-decoration: underline;
}

span {
    display: block;
    color: red;
}
