.create-course {
    padding: 40px 200px 0 140px;
}

.create-course h2 {
    font-size: 32px;
}

.create-course__info {
    padding: 20px 80px 50px;
    background-color: white;
    border: #CFCFCF 1px solid;
    border-radius: 4px;
}

.create-course__info h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.create-course__info input[type="text"] {
    width: 98.5%;
}

.create-course__info p {
    margin: 0;
}

.create-course__info label {
    display: inline-block;
    margin: 25px 0 0 0;
}

.create-course__info-description textarea {
    width: 98.5%;
    height: 150px;
    padding: 10px 0px 0px 15px;
    color: #CFCFCF;
    border: #CFCFCF 1px solid;
    border-radius: 4px;
    resize: none;
    font-family: Open Sans;
}

.create-course__info-description span {
    font-weight: 400;
    color: red;
}

.create-course__info-description input[type="text"] {
    height: 150px;
}

.create-course__info-duration input[type="text"] {
    width: 300px;
}

.create-course__info-duration {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.create-course__info h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.trash p {
    margin: 0;
}

.create-course__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 40px 0;
}

.create-course__info-authors {
    display: grid;
    grid-template-columns: 70% 30%;
    list-style: none;
}

.create-course__info-course_authors {
    text-align: center;
}

.error textarea {
    border: 1px solid red;
}

span {
    display: block;
    color: red;
    font-weight: 400;
}
