.empty-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.empty-list h2 {
    font-size: 32px;
    margin: 0;
}

.empty-list p {
    margin: 30px;
}
